<div class="container">
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-7 col-xs-12">
            <h4>Poziom 0 w katalogu</h4>
            <hr class="catalog-hr">
            <label for="example-text-input" class="col-lg-3 col-md-4 col-sm-4 col-form-label input-label">Nazwa :</label>
            <div class="col-lg-9 col-md-8 col-sm-8 input-margin">
                <input class="form-control product-inputs" type="text" placeholder="WSS" disabled>
            </div>
            <label for="example-text-input" class="col-lg-3 col-md-4 col-sm-4 col-form-label input-label">Typ :</label>
            <div class="col-lg-9 col-md-8 col-sm-8 input-margin">
                <input class="form-control product-inputs" type="text" placeholder="Katalog" disabled>
            </div>
            <h4 class="catalog-h4">Poziom 1 w katalogu</h4>
            <hr class="catalog-hr">
            <label for="example-text-input" class="col-lg-3 col-md-4 col-sm-4 col-form-label input-label">Nazwa :</label>
            <div class="col-lg-9 col-md-8 col-sm-8 input-margin">
                <input class="form-control product-inputs" type="text">
            </div>
            <label for="example-text-input" class="col-lg-3 col-md-4 col-sm-4 col-form-label input-label">Typ :</label>
            <div class="col-lg-9 col-md-8 col-sm-8 input-margin">
                <input class="form-control product-inputs" type="text" placeholder="Systemodawca" disabled>
            </div>
            <h4 class="catalog-h4">Poziom 2 w katalogu</h4>
            <hr class="catalog-hr">
            <label for="example-text-input" class="col-lg-3 col-md-4 col-sm-4 col-form-label input-label">Nazwa :</label>
            <div class="col-lg-9 col-md-8 col-sm-8 input-margin">
                <input class="form-control product-inputs" type="text">
            </div>
            <label for="example-text-input" class="col-lg-3 col-md-4 col-sm-4 col-form-label input-label">Typ :</label>
            <div class="col-lg-9 col-md-8 col-sm-8 input-margin">
                <input class="form-control product-inputs" type="text" placeholder="System" disabled>
            </div>
            <div id="product-submit" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <button type="submit" id="login-submit-button" class="btn btn-primary center-block">Zapisz</button>
            </div>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
            <table id="dashboard-table" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="center">Hierarchia w katalogu</th>
                        <th class="center">Data</th>
                        <th class="center">Akcja</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td class="delete-button">
                            <button type="button" class="btn btn-danger" style="">Usuń</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Mark Zadqaa</td>
                        <td>Otto adasda</td>
                        <td class="delete-button">
                            <button type="button" class="btn btn-danger" style="">Usuń</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td class="delete-button">
                            <button type="button" class="btn btn-danger" style="">Usuń</button>
                        </td>
                    </tr>
                    <tr>
                        <td>tekst</td>
                        <td>tekst</td>
                        <td class="delete-button">
                            <button type="button" class="btn btn-danger" style="">Usuń</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
