<div class="container">
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-7 col-xs-12">
            <label for="example-text-input" class="col-lg-4 col-md-5 col-sm-5 col-form-label input-label">Nazwa klienta</label>
            <div class="col-lg-8 col-md-7 col-sm-7 input-margin">
                <input class="form-control product-inputs" type="text" id="example-text-input" ng-model="newClient.client.name">
            </div>
            <label for="example-text-input" class="col-lg-4 col-md-5 col-sm-5 col-form-label input-label">Rabat</label>
            <div class="col-lg-8 col-md-7 col-sm-7 input-margin">
                <input class="form-control product-inputs" type="text" id="example-text-input" ng-model="newClient.client.discount">
            </div>
            <label for="example-text-input" class="col-lg-5 col-md-6 col-sm-6 col-form-label input-label">Hasło użytkownika</label>
            <div class="col-lg-7 col-md-6 col-sm-6 input-margin">
                <input class="form-control product-inputs" type="text" id="example-text-input" ng-model="newUser.user.password">
            </div>
            <label for="example-text-input" class="col-lg-4 col-md-5 col-sm-5 col-form-label input-label">Użytkownik</label>
            <div class="col-lg-6 col-md-5 col-sm-5 input-margin">
                <input class="form-control product-inputs" type="text" id="example-text-input" ng-model="newUser.user.email">
            </div>
            <div class="col-lg-2 col-sm-2 col-xs-2">
                <button type="button" id="set-add-button" class="btn btn-success" ng-click="addUser()" ng-class="{'disabled' : correctClientName()}"><i class="fa fa-check" aria-hidden="true"></i> Dodaj</button>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <table class="table table-bordered table-hover table-responsive" style="margin-bottom: 20px;">
                    <thead>
                        <tr>
                            <th class="center">Użytkownik</th>
                            <th class="center">Akcja</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in users" ng-if="correctUserInTable(user.id_client)">
                            <td>{{user.email}}</td>
                            <td class="delete-button">
                                <button type="button" class="btn btn-danger" style="" ng-click="deleteUser(user.uid)">
                                    <i class="fa fa-trash-o fa-lg"></i> Usuń</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="product-submit" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <button type="submit" id="login-submit-button" class="btn btn-primary center-block" ng-click="saveChanges()">
                    <i class="fa fa-check-square-o fa-lg" aria-hidden="true"></i> Zapisz</button>
            </div>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="center">Nazwa klienta</th>
                        <th class="center">Rabat</th>
                        <th class="center">Data</th>
                        <th class="center">Akcja</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="cli in clients | filter : newClient.client.name">
                        <td ng-click="editClient(cli)">{{cli.name}}</td>
                        <td>{{cli.discount}}</td>
                        <td>{{cli.creation_date | date:"dd/MM/yyyy"}}</td>
                        <td class="delete-button">
                            <button type="button" class="btn btn-danger" style="" ng-click="deleteClient(cli.id)">
                                <i class="fa fa-trash-o fa-lg"></i> Usuń</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
