<div class="container">
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-7 col-xs-12">
            <label for="example-text-input" class="col-lg-4 col-md-5 col-sm-5 col-form-label input-label">Filtruj klientów :</label>
            <div class="col-lg-8 col-md-7 col-sm-7">
                <input id="search-clients-input" class="form-control" type="text" ng-model="filterClient">
            </div>
            <label class="input-label col-lg-12 col-xs-12">Ilosć logowań klienta :</label>
            <label class="input-label col-lg-12 col-xs-12">Ilosć wygenerowanych ofert klienta :</label>
            <label class="input-label col-lg-12 col-xs-12">Ilosć logowań wszystkich klientów :</label>
            <label class="input-label col-lg-12 col-xs-12">Ilosć wszystkich wygenerowanych ofert :</label>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
            <table id="dashboard-table" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="center">Klient</th>
                        <th class="center">Email</th>
                        <th class="center">Data</th>
                    </tr>
                </thead>
                <tbody ng-repeat="cli in clients | filter : filterClient">
                    <tr ng-repeat="user in users" ng-if="cli.id == user.id_client">
                        <td >{{cli.name}}</td>
                        <td >{{user.email}}</td>
                        <td >{{user.last_login | date:"dd/MM/yyyy"}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
