<div class="container">
    <div id="upper-navbar-offer" class="navbar">
        <div class="navbar-header">
            <a href="#" class="navbar-brand"><img src="img/logo.gif"></a>
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        </div>
        <div class="collapse navbar-collapse navHeaderCollapse">
            <ul class="nav nav-tabs">
                <li ng-repeat="item in menuItems" ng-if="verifyMenu(item)" ng-class="{'active' : item.labelPl == 'Oferta' || currState == item.activeStateRule}"><a ng-click="changeState(item.uiSref)">{{item.labelPl}}</a></li>
            </ul>
        </div>
    </div>
    <div id="lower-navbar-admin" class="navbar" ng-if="whichUser()">
        <div class="collapse navbar-collapse navHeaderCollapse">
            <ul class="nav nav-tabs">
                <li ng-repeat="item in lowerMenuItems" ng-class="{'active' : currState == item.activeStateRule}"><a ng-click="changeState(item.uiSref)" ng-class="{'active' : currState == item.activeStateRule}">{{item.labelPl}}</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="ui-view-container">
    <div ui-view></div>
</div>
