<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="main-section">
                <h5 class="main-section-h5">Wyszukaj</h5>
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-7 col-xs-12">
                        <label for="example-text-input" class="col-lg-4 col-md-5 col-sm-5 col-form-label input-label">Kod produktu</label>
                        <div class="col-lg-8 col-md-7 col-sm-7 input-margin">
                            <input class="form-control product-inputs" type="text" id="example-text-input">
                        </div>
                        <label for="example-text-input" class="col-lg-4 col-md-5 col-sm-5 col-form-label input-label">Numer zestawu</label>
                        <div class="col-lg-8 col-md-7 col-sm-7 input-margin">
                            <input class="form-control product-inputs" type="text" id="example-text-input">
                        </div>
                        <label for="example-text-input" class="col-lg-4 col-md-5 col-sm-5 col-form-label input-label">Nazwa</label>
                        <div class="col-lg-8 col-md-7 col-sm-7 input-margin">
                            <input class="form-control product-inputs" type="text" id="example-text-input">
                        </div>
                        <label for="example-text-input" class="col-lg-4 col-md-5 col-sm-5 col-form-label input-label">Typ zestawu</label>
                        <div class="col-lg-8 col-md-7 col-sm-7 input-margin">
                            <select class="form-control product-inputs">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <label for="example-text-input" class="col-lg-4 col-md-5 col-sm-5 col-form-label input-label">System</label>
                        <div class="col-lg-8 col-md-7 col-sm-7 input-margin">
                            <select class="form-control product-inputs">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <label for="example-text-input" class="col-lg-4 col-md-5 col-sm-5 col-form-label input-label">Systemodawca</label>
                        <div class="col-lg-8 col-md-7 col-sm-7 input-margin">
                            <select class="form-control product-inputs">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                        <label for="example-text-input" id="list-of-sets-label" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-form-label input-label">Lista zestawień w ofercie</label>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <table id="search-dashboard" class="table table-bordered table-hover table-responsive">
                                <thead>
                                    <tr>
                                        <th class="center">Zestawienie</th>
                                        <th class="center">Akcja</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Mark</td>
                                        <td class="delete-button">
                                            <button type="button" class="btn btn-danger" style="">Usuń</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Mark Zadqaa</td>
                                        <td class="delete-button">
                                            <button type="button" class="btn btn-danger" style="">Usuń</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Jacob</td>
                                        <td class="delete-button">
                                            <button type="button" class="btn btn-danger" style="">Usuń</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>tekst</td>
                                        <td class="delete-button">
                                            <button type="button" class="btn btn-danger" style="">Usuń</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 30px; margin-bottom: 30px;">
        <div class="col-lg-12">
            <div class="main-section">
                <h5 class="main-section-h5">Wyszukano 2 produkty</h5>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div id="your-set" class="col-lg-5 col-md-6 col-sm-7 col-xs-12">
                            <label for="example-text-input" class="col-lg-5 col-md-5 col-sm-5 col-form-label input-label">Twoje zestawienie</label>
                            <div class="col-lg-7 col-md-7 col-sm-7 input-margin">
                                <input class="form-control product-inputs" type="text" id="example-text-input">
                            </div>
                        </div>
                  <!--       <label for="example-text-input" class="col-lg-2 col-md-4 col-sm-3 col-form-label input-label">Twoje zestawienie</label>
                        <div class="col-lg-4 col-md-6 col-sm-6 input-margin">
                            <input class="form-control product-inputs" type="text" id="example-text-input">
                        </div> -->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <hr id="search-hr">
                            <label style="margin-top: 10px;">Wyszukano 2 produkty</label>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 20px;">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 search-product">
                                <span class="product-number">1</span>
                                <img src="img/kategorie.png" class="search-img">
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 product-div">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 product-information">
                                    <h4>Kod produktu / Kod zestawu</h4>
                                    <h5>Nazwa produktu / Nazwa zestawu</h5>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="add-product">
                                        <input class="form-control add-product-input" type="text" id="example-text-input" placeholder="Ilość">
                                        <button type="button" id="" class="btn btn-success">Dodaj</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 20px;">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 search-product">
                                <span class="product-number">2</span>
                                <img src="img/kategorie.png" class="search-img">
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 product-div">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 product-information">
                                    <h4>Kod produktu / Kod zestawu</h4>
                                    <h5>Nazwa produktu / Nazwa zestawu</h5>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="add-product">
                                        <input class="form-control add-product-input" type="text" id="example-text-input" placeholder="Ilość">
                                        <button type="button" id="" class="btn btn-success">Dodaj</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 20px;">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 search-product">
                                <span class="product-number">3</span>
                                <img src="img/kategorie.png" class="search-img">
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 product-div">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 product-information">
                                    <h4>Kod produktu / Kod zestawu</h4>
                                    <h5>Nazwa produktu / Nazwa zestawu</h5>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="add-product">
                                        <input class="form-control add-product-input" type="text" id="example-text-input" placeholder="Ilość">
                                        <button type="button" id="" class="btn btn-success">Dodaj</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 20px;">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 search-product">
                                <span class="product-number">4</span>
                                <img src="img/kategorie.png" class="search-img">
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 product-div">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 product-information">
                                    <h4>Kod produktu / Kod zestawu</h4>
                                    <h5>Nazwa produktu / Nazwa zestawu</h5>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="add-product">
                                        <input class="form-control add-product-input" type="text" id="example-text-input" placeholder="Ilość">
                                        <button type="button" id="" class="btn btn-success">Dodaj</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
